/* * {
    margin: 0;
    padding: 0;
} */
body{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: inline-block;
}

#head2 {
    text-align: center;
    font-weight: bold;
    color: rgb(36, 8, 190);
}

span{
    text-align: center;
    margin-left: 35%;
    font-size: 30px;
}
ol{
    list-style: decimal-leading-zero;
    background: #ff9999;
    padding: 20px;
    list-style-position: inside;
    font-weight: bold;
}
ul{
    list-style-type: square;
    background: #3399ff;
    padding: 20px;
    font-weight: bold;
}
ol li {
    background: #ffe5e5;
    color: black;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
  }
  
ul li {
    background: #cce5ff;
    color: darkblue;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
  }

.divfather{
    border: 1px solid red;
}
.divone{
    height: 250px;
    width: 468px;
    background-color: #3399ff;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    border-collapse: collapse;
    position: relative;
    text-align: center;
    padding: 100px;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(120, 32, 235);
}
.divtwo{
    height: 250px;
    width: 468px;
    background-color: #8133ff;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 100px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(32, 235, 59);
}
.divthree{
    height: 250px;
    width: 468px;
    background-color: #df1cae;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 100px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(43, 96, 240, 0.5);
}
.divfour{
    width: 468px;
    height: 250px;
    background-image: url('bd.jpg');
    background-position: center;
    background-attachment: cover;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 100px;
    font-size: larger;
    border-radius: 5px;
}
.ol, .ul{
    display: inline-block;
    width: 940px;
    height: auto;
    margin-top: 30px;
    box-sizing: border-box;
    list-style-position: inside;
}
a{
    background-color: #3399ff;
    color: white;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 45%;
}
a:hover{
    color: black;
    background-color: green;
    font-weight: bold;
    border: 2px solid black;
}
table{
    font-family: Georgia, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: 1px solid #ddd7d7;
    padding: 6px;
    font-size: 18px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover{
    background-color: #ddd;
}
table th{
    background-color: #07afe2;
    padding: 6px;
    color: white;
    font-weight: bolder;
    text-align: left;
}